<thead>
  <tr>
    <th>Active</th>
    <th>Name</th>
    <th>Temperature</th>
    <th>Operator</th>
    <th>Action</th>
    <th>Edit</th>
  </tr>
</thead>

<tbody>
{{#each this.allRules }}
<tr data-task-id='{{this.id}}'>
  <td>
    <span>
      <input type="checkbox">
    </span>
  </td>
  <td>{{this.name}}</td>
  <td>{{this.temperature}}</td>
  <td>{{this.operator}}</td>
  <td>{{this.action}}</td>
  <td>
    <span class="pull-right">
      <button class="btn btn-xs btn-info">
        <span class="glyphicons glyphicons-pencil">EDIT</span>
      </button>
      <button class="btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </span>
  </td>
</tr>
{{/each}}
  <tfoot class="full-width">
    <tr>
      <th colspan="5">
        <button class="btn btn-md btn-primary" type="button" name="approveCheckmarks">
          Approve
        </button>
      </th>
      <th colspan="1">
        <button class="btn btn-md btn-primary" type="button" name="addRule">
          <span class="glyphicons glyphicons-user"></span>ADD
        </button>
      </th>
    </tr>
  </tfoot>
</tbody>
